.tooltip-inner hr {
  margin-top: 5px;
  margin-bottom: 10px;
}

.fc-event-main {
  cursor: pointer;
}

.fc-h-event .fc-event-title {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  /* overflow: hidden; */
  /* font-weight: 700; */
  /* flex-flow: nowrap; */
  white-space: break-spaces;
  padding: 4px !important;
  text-shadow: 1px 1px #000;
}

.fc-direction-ltr .fc-daygrid-event .fc-event-time {
  width: auto;
  min-width: 35px;
}

.popper,
.tooltip {
  position: absolute;
  z-index: 9999;
  background: #2b2d31;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: #dddfe1;
  max-width: 448px;
  width: 448px;
  border-radius: 0px;
  border: solid 1px #2b2d31;
  padding: 7px;
  line-height: 20px;
  text-align: left;
  -webkit-box-shadow: 0 24px 38px 3px rgb(0 0 0 / 14%),
    0 9px 46px 8px rgb(0 0 0 / 12%), 0 11px 15px -7px rgb(0 0 0 / 20%);
  box-shadow: 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%),
    0 11px 15px -7px rgb(0 0 0 / 20%);
  -webkit-border-radius: 8px;
  /* border-radius: 8px; */
}

.style5 .tooltip {
  background: #1e252b;
  color: #ffffff;
  max-width: 200px;
  width: auto;
  font-size: 0.8rem;
  padding: 0.5em 1em;
}

.popper .popper__arrow,
.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
}

.tooltip .tooltip-arrow,
.popper .popper__arrow {
  border-color: #2b2d31;
}

.style5 .tooltip .tooltip-arrow {
  border-color: #1e252b;
}

.popper[x-placement^="top"],
.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}

.popper[x-placement^="top"] .popper__arrow,
.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.popper[x-placement^="bottom"],
.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow,
.popper[x-placement^="bottom"] .popper__arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="right"],
.popper[x-placement^="right"] {
  margin-left: 5px;
}

.popper[x-placement^="right"] .popper__arrow,
.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.popper[x-placement^="left"],
.tooltip[x-placement^="left"] {
  margin-right: 5px;
}

.popper[x-placement^="left"] .popper__arrow,
.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.form-content {
  padding: 20px;
  border-radius: 8px;
}

.btn-voltar {
  border: 1px solid #0f4192;
  color: #0f4192;
  background-color: white;
}

.btn-voltar:hover {
  color: white;
  background-color: #0f4192;
}

.btn-executar {
  color: white;
  background-color: #0f4192;
  margin-left: 15px;
}

.btn-executar:hover {
  background-color: #124aa5;
  color: #d1d1d1;
}
